/build_dict/output/arabic.aff
/build_dict/output/arabic.dic
/build_dict/output/bi-rare.txt
/build_dict/output/bigrams
/build_dict/output/bigrams.ods
/build_dict/output/rare-words.txt
/build_dict/output/spellcheck.sqlite
/lib/pyarabic/__init__.pyc
/lib/pyarabic/arabrepr.py
/lib/pyarabic/arabrepr.pyc
/lib/pyarabic/araby.pyc
/lib/pyarabic/harf.py
/lib/pyarabic/named.py
/lib/pyarabic/named.pyc
/lib/pyarabic/named_const.py
/lib/pyarabic/named_const.pyc
/lib/pyarabic/number.py
/lib/pyarabic/number.pyc
/lib/pyarabic/number_const.py
/lib/pyarabic/number_const.pyc
/lib/pyarabic/propernouns.py
/lib/pyarabic/propernouns.pyc
/lib/pyarabic/stack.pyc
/lib/pyarabic/txt
/lib/pyarabic/unshape.py
/lib/tashaphyne/__init__.pyc
/lib/tashaphyne/arabic_const.pyc
/lib/tashaphyne/normalize.py
/lib/tashaphyne/normalize.pyc
/lib/tashaphyne/stem_const.pyc
/lib/tashaphyne/stemming.pyc
/tests/output/spelltools
/tests/output/test.2015-03-29-18h03
/tests/output/test.7.17
/tests/output/txt
/tests/output/txt2015-03-29.18.08.txt
/tests/output/txt2015-03-29.18.08a.txt
/tests/output/txt~2015-03-29-22-59.txt
/yaraspell/spelldb.pyc
/yaraspell/spelltools.pyc
/arxv/arabicwordlist.txt
/arxv/arspell.py
/arxv/aspell.py
/arxv/buildict2.py
/arxv/codebase.py
/arxv/distance.py
/arxv/spell.py
/arxv/txt
/arxv/txt.o
/arxv/wordlist.txt
